<!DOCTYPE html>
<html xmlns="http://www.w3,org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
	xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

<div th:replace="~{standarLayouts/head :: head1}">AQUI DEBERIAMOS
	USAR EL HEAD</div>
	
	<style>
.bg-fondo {
	background-color: #003366; /* Azul oscuro */
}

.bg-naranjaboton {
	background-color: #FF6347;
}

.bg-naranjafondo {
	background-color: #FF8C00;
}

.bg-naranjabrillo {
	background-color: #FF7F50;
}

.bg-clesteclaro {
	background-color: #87CEFA;
}

.bg-aceroazulado {
	background-color: #4682B4;
}

.bg-azulcadete {
	background-color: #5F9EA0;
}

.bg-azulpetroleo {
	background-color: #1F3A3D;
}

.bg-grisclarito {
	background-color: #F2F2F2;
}

#btazul {
	color: white;
}

#btceleste {
	color: white;
}

#btnaranja {
	color: white;
}
</style>

<body>

	<nav th:replace="~{standarLayouts/navbar :: navbar2('providers')}">AQUI
		DEBERIA DE Salir el navbar</nav>
		
	<section class="d-flex justify-content-center align-items-center vh-100 pb-5 pt-5 bg-aceroazulado text-light">
		<div class="container">
			<div class="row text-center justify-content-center">
				<div class="col-12 col-md-8 col-lg-7">
					<h3 class="fw-bold display-4 text-white" >Actualizar Proveedor</h3>
					<!--th:text=#{html.providerUpdate.title}-->

				</div>
			</div>
			<div class="row pt-4">
				<div class="col-12">

					<form th:object="${provider}" method="POST"
						th:action="@{/provider/updatePost}">
						<!--fields nos sirve cuando estamos dentro del formulario y tenemos un objeto. Y nos deja saber si todos los errores, el binding result bolca los errores aqui -->
						<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
						
						<p th:text="#{html.generic.errors.message.title}"></p>
						<ul>
						  <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
						  
						</ul>
						
						</div>
						
						
						
						
						<!-- agrupamos los que van a estar escondidos -->
						<input th:field="*{id}" type="hidden">

						<div class="row">
							<div class="col-12 col-md">
								<label>Nombre:</label> <input type="text" class="form-control"
									placeholder="Nombre" th:field="*{providerName}">
							</div><!--  th:text=#{html.providerX.input.text.name} -->
							<div>
								<label>Número de Cif:</label> <!-- th:text=#{html.providerX.input.text.cif} --> <input type="text"
									class="form-control" placeholder="Número Cif"
									th:field="*{providerCif}">
							</div>
							<div>
								<label>Correo Electrónico:</label><!-- th:text=#{html.providerX.input.text.email} --> <input type="text" class="form-control"
									placeholder="Correo Electrónico" th:field="*{providerEmail}">
							</div>
							<div>
								<label>Número de Teléfono:</label><!-- th:text=#{html.providerX.input.text.phone} --> <input type="text" class="form-control"
									placeholder="Teléfono" th:field="*{providerPhone}">
							</div>
							<div>
								<label>Dirección:</label><!-- th:text=#{html.providerX.input.text.nif} --> <input type="text" class="form-control"
									placeholder="Dirección" th:field="*{providerAddress}">
							</div>
						</div>

						<!--<div class="row mt-4">
							<div class="col">

								<p th:unless="${provider.getProviderContactList().size() !=0}"
									></p>

								<ul th:if="${provider.getProviderContactList().size() != 0}">
									<li
										th:each="customerContact : ${customer.getCustomerContactList()}"
										th:value="${customerContact.getId()}"
										th:text="${customerContact.getName()} + '>' + ${customerContact.getPhone()}  + '>>' + ${customerContact.getObservations()}">

									</li>

								</ul>
							</div>

						</div>-->

						<div class="row mt-4">
							<div class="col text-center">
								<button type="submit" class="btn bg-clesteclaro btn-lg">Guardar</button><!-- th:text=#{html.table.button.save} -->
							</div>

							<div class="col text-center">
								<button type="reset" class="btn bg-azulpetroleo text-white  btn-lg">Deshacer</button>
							</div><!-- th:text=#{html.table.button.undo}  -->

							<div class="col text-center">
								<a type="button" th:href="@{/providerListGet}" 
									class="btn bg-naranjabrillo text-white btn-lg btn-rised">Volver</a>
							</div><!-- th:text=#{html.table.button.back}  -->
						</div>

					</form>
				</div>
			</div>
		</div>

	</section>

	

	<div th:replace="~{standarLayouts/script :: script1}">AQUI
		DEBERIA DE ALISR EL script</div>


</body>
<div th:replace="~{standarLayouts/sectionFooter :: sectionFooter1}">
		AQUI DEBERIAMOS USAR EL sectionFooter</div>

</html>