<!DOCTYPE html>
<html xmlns="http://www.w3,org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
	xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">



<head>
<meta charset="UTF-8">
<title>Hamasonr</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="stylesheet"
	href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css ">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

<!-- Plugins -->
</head>

  <div th:replace="~{standarLayouts/head :: head1}">
  	AQUI DEBERIA SALIR EL head
  </div>

<style>
.bg-fondo {
	background-color: #003366; /* Azul oscuro */
}

.bg-naranjaboton {
	background-color: #FF6347;
}

.bg-naranjafondo {
	background-color: #FF8C00;
}

.bg-naranjabrillo {
	background-color: #FF7F50;
}

.bg-clesteclaro {
	background-color: #87CEFA;
}

.bg-aceroazulado {
	background-color: #4682B4;
}

.bg-azulcadete {
	background-color: #5F9EA0;
}

.bg-azulpetroleo {
	background-color: #1F3A3D;
}

.bg-grisclarito {
  background-color: #F2F2F2;
}

#buscador {
	display: flex;
	gap: 5px;
	justify-content: center;
	margin-bottom: 15px;
}

#busca1 {
	color: orange;
}

#input1 {
	height: 30px;
	width: 300px;
	align-items: center;
}


#productFamilybuttons{
display:flex;
gap: 15px;
align-items: center;
padding:10px;
justify-content: center;
margin-bottom: 10px;

}

.buttonFamily{
border-radius:5px;
color: white;
background-color: orange; 

}
</style>

<body class="bg-fondo">

	<nav th:replace="~{standarLayouts/navbar :: navbar2('home')}">AQUI
		DEBERIA DE Salir el navbar</nav>
	

	<section
		class="pt-5 pb-1 mt-0 align-items-center d-flex bg-aceroazulado"
		style="min-height: 50vh; background-size: cover;">
		<div class="container-fluid">
			<div
				class="row  justify-content-center align-items-center d-flex-row text-center h-100">
				<div class="col-12 col-md-8  h-50 ">
					<div
						class="icon-wrap text-primary d-flex justify-content-center my-3">
						<button href="#"
							class="icon d-flex border-0 align-items-center justify-content-center bg-white text-dark  rounded-circle "
							style="width: 70px; height: 70px">
							<i class="fas fa-search fa-lg ml-1"></i>
						</button>
					</div>
					<p class="text-white small text-uppercase mb-1 mt-5"
						style="letter-spacing: 1em;">Nuestros mejores productos</p>
					<h1 class="text-white mb-2 mt-2 bg-naranjabrillo">Especializados
						para Tu Hogar</h1>
					<p></p>
					<div class="btn-container-wrapper p-relative d-block  zindex-1">
						<a
							class="btn btn-outline-light border-0 btn-lg pr-2 pl-2 pt-3 pb-3  mt-md-5  scroll align-self-center  "
							href="#section-1"> <i class="fa fa-angle-down fa-lg  "></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-1" class="pt-2 pb-1">
		<div class="container my-5 bg-aceroazulado">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class=" text-white mb-4">Nuestros Productos</h1>
					<div>
						<div id="buscador">
							<h3 id="busca1">BUSCAR:</h3>
							<input id="input1">
						</div>
					</div>
					<div id="productFamilybuttons">
					<button class=buttonFamily>Alimentos</button>
					<button class=buttonFamily>Tecnología</button>
					<button class=buttonFamily>Perfumería</button>
					<button class=buttonFamily>Joyería</button>
					<button class=buttonFamily>Indumentaria</button>
					
					</div>

				</div>
			</div>
			<div class="row">
				<!-- Itera sobre la lista de productos inyectada desde el controlador -->
				<div class="col-md-4 mb-4" th:each="product : ${productList}" >
					<div class="card h-100">
						<!-- Imagen del producto-->

						<img th:src="@{'/img/'+${product.getImageUrl()}}"
							class="card-img-top" th:alt="'Imagen de ' + ${product.getName()}"
							style="height: 32vh; object-fit: cover" />
						<div class="card-body bg-grisclarito ">
							<!-- Nombre del producto -->
							<h5 class="card-title" th:text="${product.getName()}">Nombre
								del Producto</h5>
							<!-- Descripción del producto -->
							<p class="card-text" th:text="${product.getDescription()}">
								Descripción del producto...</p>
							<!-- Datos adicionales: precio, descuento y stock -->
							<p class="card-text">
								<strong>Precio: </strong> <span th:text="${product.getPrice()}">$0.00</span>
								<br> <strong>Descuento: </strong> <span
									th:text="${product.getDiscount()} + ' %'"></span> <br> <strong>Stock:
								</strong> <span th:text="${product.getStock()}">0</span> <br> <strong>Calificación
									de nuestros clientes: </strong> <span
									th:text="${product.getRate().rateName}">0</span>
							</p>
						</div>
						<div
							class="card-footer d-flex justify-content-between align-items-center">
							<!-- Información de la familia de productos -->
							<small class="text-muted"> Familia: <span
								th:text="${product.getProductFamily().familyName}">Familia</span>
							</small>
							<!-- Botón de compra -->
							<form th:action="@{/cart/add}" method="post" class="mb-0">
								<!-- Enviar el id del producto -->
								<input type="hidden" name="productId"
									th:value="${product.getId()}" />
								<button type="submit" class="btn btn-primary btn-sm">Agregar a Carrito</button>
							</form>
						</div>
					</div>
				</div>
				<!-- Fin de iteración de productos -->
			</div>
		</div>
	</section>
	<section class="">
		<footer class="pt-4 pb-4  bg-fondo text-light">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-md-8">
						<ul class="nav justify-content-center justify-content-md-start">
							<li class="nav-item"><a class="nav-link active" href="#">Volver</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Terminos</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Acerca
									de Nosotros</a></li>
						</ul>
					</div>
					<div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
						© 2025 Hamazonr. Todos los derechos reservados.</div>
				</div>
			</div>
		</footer>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>


</body>

</html>